* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 50vw;
  height: 34vw;
  padding: 1vw 9vw 1vw 1vw;
  margin: 40px auto;
  background-color: lightyellow;
}

.grid-container {
  width: 40vw;
  height: 32vw;
  background-color: #fff;
}

.cell {
  width: 2vw;
  height: 2vw;
  border: 1px solid lightblue;
  float: left;
}

.cell:hover {
  cursor: pointer;
}

.blue {
  background-color: blue;
}
